{% extends "base.html" %}
{% block content %}
    <h1>{{ product.title }}</h1>

{% for review in product.reviews.all %}
    <p>Recenzent: {{ review.user.username }}</p>
    <p>Skóre: {{ review.score }}</p>
    <p>Text: {{ review.text }}</p>
    <a href="{% url "delete_product_review" review.pk %}" class="btn btn-danger">Delete</a>
    <hr>

{% endfor %}
<br><br>
<form action="{% url "list_product_review" form.initial.product.pk %}" method="post">
    {% csrf_token %}
    {{ form.score.html_name }}
    {{ form.score }} <br> <br>
    {{ form.text.html_name }}
    {{ form.text }} <br>
    <input type="submit" value="Submit" class="btn btn-primary">

</form>

{% endblock content %}